# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vs/backup-folder-verify.slnx/FileContentIndex/3e0dba7a-0e6e-418c-904b-921afed1715e.vsidx
.vs/backup-folder-verify.slnx/FileContentIndex/4bbca8e3-57f2-4031-b741-45aa5b3a3cf8.vsidx
.vs/backup-folder-verify.slnx/FileContentIndex/4d693a46-73fa-4f6b-9178-01f7be905e7d.vsidx
.vs/backup-folder-verify.slnx/FileContentIndex/b9ecc14a-7d41-4a5f-87b5-1ad254c849f3.vsidx
.vs/backup-folder-verify.slnx/FileContentIndex/bb892629-6101-41cb-bc38-d5b3e1c521ed.vsidx
.vs/backup-folder-verify.slnx/FileContentIndex/f3d4d05f-668a-44b9-9329-12609ff8c48e.vsidx
.vs/backup-folder-verify.slnx/v18/.suo
.vs/backup-folder-verify.slnx/v18/Browse.VC.db
.vs/backup-folder-verify.slnx/v18/Browse.VC.db-shm
.vs/backup-folder-verify.slnx/v18/Browse.VC.db-wal
.vs/backup-folder-verify.slnx/v18/Browse.VC.opendb
.vs/backup-folder-verify.slnx/v18/DocumentLayout.backup.json
.vs/backup-folder-verify.slnx/v18/DocumentLayout.json
.vs/backup-folder-verify.slnx/v18/ipch/AutoPCH/95ffb0dbd9872a7a/BACKUP-FOLDER-VERIFY.ipch
.vs/backup-folder-verify.slnx/v18/ipch/AutoPCH/c1e271bae1c2e7cd/INIT.ipch
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/backup-folder-verify.lastbuildstate
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/Cl.items.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/CL.read.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/CL.write.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link-cvtres.read.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link-cvtres.write.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link-rc.read.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link-rc.write.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.20660-cvtres.read.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.20660-cvtres.write.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.20660-rc.read.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.20660-rc.write.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.20660.read.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.20660.read.2.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.20660.read.3.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.20660.read.4.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.20660.write.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.command.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.read.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.read.2.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.read.3.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.read.4.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.secondary.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/link.write.1.tlog
backup-folder-verify/x64/Debug/backup-f.20bee14f.tlog/unsuccessfulbuild
backup-folder-verify/x64/Debug/backup-folder-verify.log
backup-folder-verify/x64/Debug/vc145.idb
*.tlog
*.vsidx
*.db
*.db
*.vsidx
*.db
*.json
*.db
/.vs
